
section{
    background: #F5F2F0;
    padding-top: 2.5rem;
    padding-bottom: 3rem;
}
.a_container{
    background: #d8d3d6;
    margin-bottom: 2rem;
    padding: 1rem;
}

.s_container{
    background: #d8d3d6;
    margin-bottom: 2rem;
    padding: 1rem;
}
.tba_container{
    background: #d8d3d6;
    margin-bottom: 2rem;
    padding: 1rem;
}
.st_container{
    background: #d8d3d6;
    margin-bottom: 2rem;
    padding: 1rem;
}
.final_container{
    background: #d8d3d6;
    margin-bottom: 2rem;
    padding: 1rem;
}
button{
    background: darkcyan !important;
}
.title{
    text-align: center;
}

.step_title{
    
    text-align: center;
    height: 50px;
    width: 160px;
    background: rgb(223, 256, 206) !important;

}
.step_title h2{
    padding-top: 15px;
    padding: 5px;
    color: darkcyan;
}
.a_num_of_row{
    height: 35px;
    width: 70px;
}

.manual_container{
    margin: 1rem;
}
.manual_div{
    margin-top: 15px;
}

.sol1{
    margin-top: 2rem;;
}
.table_design{
    height: 400px;
    overflow-y: scroll;
}
tr, td{
    height: 50px;
}

.s_num_of_row{
    height: 35px;
    width: 70px;
}
.sol2{
    margin-top: 2rem;;
}
.tba_num_of_row{
    height: 35px;
    width: 70px;
}
.st_num_of_row{
    height: 35px;
    width: 70px;
}
